.user-field.user-field-1 {
  display: none !important; /* Cache l'âge exact */
}
.user-age-range {
  font-weight: bold;
  margin-top: 4px;
}

.custom-welcome-banner {
  background: green;
  color: white;
  text-align: center;
  padding: 10px;
}

.my-custom-usercard-info {
  margin-top: 10px;
  font-size: 1em;
  color: #0077cc;
  font-weight: bold;
}